[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
chromedriver-py = "*"
python-dotenv = "*"
webdriver-manager = "*"
pandas = "*"
termcolor = "*"
azure-storage-blob = "*"
black = "*"
azure-maps-search = "*"
pandas-geojson = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
